{% if setup.show_facebook %}
    <a href="{{ setup.facebook_url }}">
        <i class="fa fa-facebook"></i>
    </a>
{% endif %}

{% if setup.show_twitter %}
    <a href="{{ setup.twitter_url }}">
        <i class="fa fa-twitter"></i>
    </a>
{% endif %}

{% if setup.show_instagram %}
    <a href="{{ setup.instagram_url }}">
        <i class="fa fa-instagram"></i>
    </a>
{% endif %}

{% if setup.show_pinterest %}
    <a href="{{ setup.pinterest_url }}">
        <i class="fa fa-pinterest-p"></i>
    </a>
{% endif %}

{% if setup.show_yelp %}
    <a href="{{ setup.yelp_url }}">
        <i class="fa fa-yelp"></i>
    </a>
{% endif %}

{% if setup.show_youtube %}
    <a href="{{ setup.youtube_url }}">
        <i class="fa fa-youtube"></i>
    </a>
{% endif %}

{% if setup.show_linkedin %}
    <a href="{{ setup.linkedin_url }}">
        <i class="fa fa-linkedin"></i>
    </a>
{% endif %}

    <a href="#header" title="Back to top">
        <i class="fa fa-arrow-up"></i>
    </a>

    <a href="{{ footer.contact_page }}">
        <i class="fa fa-envelope"></i>
    </a>
